# Logs
logs
*.log
npm-debug.log*
OZW_Log.txt

# Runtime data
pids
*.pid
*.seed

# Python cache
__pycache__
*.pyc

# Other
*.uuid
*.conf
*.db
*.db-journal
*.db-shm
*.db-wal
*.log
*.noload
*.txt
*.sqlite
*.xml
*.backup
*.google.token
.google.token
.HA_VERSION
.cloud
.storage
..homekit.state
ip_bans.yaml
camera.yaml
home-assistant.env
home-assistant.*
secrets.yaml
gitupdate.sh
known_devices.yaml
zone.yaml
google_calendars.yaml
components
deps
ssl
privkey.pem
certificate.pem
fullchain.pem
.homekit.state
http_cors_allowed_origins.yaml
http_trusted_networks.yaml
www/images/robert.jpg
www/images/veronica.jpg
www/images/ailo.jpg
www/images/anne_lisbeth.jpg
www/images/arne.jpg
www/images/harald.jpg
www/images/grazyna.jpg
!/.gitignore
!/.travis.yml